template(name="main_layout")
	{{> Template.dynamic template=top}}
	{{> Template.dynamic template=middle}}
	{{> Template.dynamic template=bottom}}

template(name="header")
	nav
		.nav-wrapper
			a.brand-logo(href="/")
				| Mallard Cyber Solutions
			ul.right.hide-on-med-and-down#nav-mobile
				li
					a(href="/")
						| Home
				li
					a(href="/services")
						| Services
				li
					a(href="/about")
						| About
				li
					a(href="/contact")
						| Contact
				li
					a(href="/faq")
						| FAQ

template(name="home")
	.row
		.col.s8.offset-s2
			.card
				.card-image
					img(src="/duck.png")

template(name="services")
	.row
		.col.s4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/lock.png")
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Cyber Security Audit
						i.material-icons.right more
						p Security audits are essential to testing whether your business or organization is prepared against a cyber assualt. We feel this is our most important service given the recent wave of cyber attacks perpetrated by cyber criminals.
				.card-reveal
					.card-title.grey-text.text-darken-4
						| Cyber Security Audit
						i.material-icons.right close
						p Security audits are essential to testing whether your business or organization is prepared against a cyber assualt. We feel this is our most important service given the recent wave of cyber attacks perpetrated by cyber criminals. This service will include 4 phases:
						ol
							li Intelligence Collection
								p 
									| A professional cyber audit operation cannot succeed without the proper amount of intelligence gathered against the target. We use a plethora of different methods to gather as much information as possible. Some of the information we look for are the target’s internet service provider, which ports are open on their network, what domain and hosting their website uses, what physical security they use, and what bad habits they may have in regards to the security of their network and computer systems. 
							li Social Engineering
								p 
									| The fastest, easiest, most common form of hacking out in the wild is social engineering. We use this method right off the bat. Social engineering accounts for over 90% of all hacking incidents because it is so effective against organizations. It is a fact that the most common computer error is the human one. 
							li Physical Security Testing
								p 
									| One important thing to always remember is that no matter how good one’s passwords or network firewalls are, if a cyber criminal can physically touch your systems then none of those security protocols matter. It is as if you are playing capture the flag, and once the flag is physically captured, all bets are off. We audit the outside perimeter of the building in which the systems are located, the rooms, and the ease of access into those structures. 
							li Computer/Network Penetration Testing
								p 
									| In the last phase of the operation, we use an array of different programs and methods designed to penetrate a target’s technology infrastructure. The programs and methods used will not be harmful to the network or systems and will only be disclosed after the audit in the After-Action Report.
		.col.s4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/nerd.png")
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| IT Support
						i.material-icons.right more
						p 
							| IT Support is essential to building a solid IT Support is highly variable, and so the set price for this service is $55 hourly. Any of our IT Support services can be done after working hours between close of business and start of business the next day for an increase to $65 hourly.
				.card-reveal
					.card-title.grey-text.text-darken-4
						| IT Support
						i.material-icons.right close
						p 
							| IT Support is essential to building a solid IT Support is highly variable, and so the set price for this service is $55 hourly. Any of our IT Support services can be done after working hours between close of business and start of business the next day for an increase to $65 hourly. 
						h2 
							| Computer Speedup
						p 
							| Computer systems can be unpredictable at times, storing mountains of data behind the scenes where the user cannot see. Most of the computers in the last 10 years come packed with needless programs that hide in the background and are only beneficial to the software companies who have contracts with the computer's manufacturer. These programs bog down the performance of your machines, and while at first a new computer will be fast, eventually it will succumb to the weight of these programs as they collect more and more data from the user's activities. It is also easy to forget that behind the screen, data structures meant to store information become porous the more they are used. 
						h2
							| Cyber Attack Response
						p
							| We come clean that mess!
						h2
							| Troubleshooting
						p
							| We figure out and fix YOUR problems.
						h2
							| Consultations
						p
							| We'll guide ya through it.
						h2
							| Initial Setup
						p
							| Need an initial company or organization setup with basic IT needs? We can do that! We will come to your location and begin the planning phase of the setup and have you IT-ready in no time at all.
						h2
							| Data Recovery
						p
							| Data is the most precious commodity for any business or organization. One of the most gut-wrenching feelings is finding out that somehow, your have lost important information that you once had. With our data recovery services, we can normally recover 99% of any data lost due to logical or mechanical failures on any given hard drive or solid state drive. First, we will attempt to recover the information lost via our programs for disc analyses. If this fails, then we will send your device to what is known as a “clean room” for expert recovery services. 
						h2
							| Data Destruction
						p
							| For those working with private information, simply discarding outdated equipment is not an option. These items need to be completely destroyed to ensure all federal and state regulations regarding personally identifiable information is adhered to, and that the publics’ information is protected. 
						h2
							| Database Creation
						p
							| Blah!!!
		.col.s4
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/bright.png")
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Web Development
						i.material-icons.right more
						p
							| Web development is one of our most popular packages. Whether you need a small blog, donations site, or a highly functional web application built from scratch, we can develop one for you! If you already have a website and just need help with altering, adding content/functionality, or search engine optimizations then let us know because we do provide a la carte services, as well. 
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Web Development
						i.material-icons.right close
						p
							| Web development is one of our most popular packages. Whether you need a small blog, donations site, or a highly functional web application built from scratch, we can develop one for you! If you already have a website and just need help with altering, adding content/functionality, or search engine optimizations then let us know because we do provide a la carte services, as well. 
						h2
							| Planning
						p
							| What is the goal of your website? The planning phase consists of a meeting to discuss the requirements for you website, go over any design wishes, discuss domain options, and choose hosting services.
						h2
							| Content
						p
							| We take from the client or draft from scratch any and all static content of the website to a text editor for later HTML rendering. 
						h2
							| Design
						p
							| In this phase, we render the HTML pages to our personal servers for testing. If custom images have been chosen to use via our graphic design department, then those will be sent to the client for approval and then be integrated with the site during this phase. 
						h2
							| Review
						p
							| We show the finished product to the client for any changes needing to be made to the site. Once the site is approved, we are ready to bring the site online.
						h2
							| Implementation
						p
							| Once this site is ready to go live, we integrate the website with the hosting and domain services chosen during the planning phase. 

template(name="about")
	.row
		.col.s9.offset-s2
			h2 Meet our team of scientists and designers!
	.row
		.col.s3
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/kyle.jpg")
				.card-content
					span.card-title.activator.grey-text.text-darken-4 
						| Kyle Mallard
						i.material-icons.right learn more
				.card-reveal
					span.card-title.grey-text.text-darken-4 
						| Kyle Mallard
						i.material-icons.right close
						p
							| Kyle grew up in West Tennessee before joining the military in 2004. After 3 combat tours, he departed with the active component and began his reserve career while pursuing his degree. Currently, Kyle holds a Bachelor's in Computer Science from the University of Memphis, and a current secret government clearance for working with sensitive information. His specialties are web design, computer performance optimization, presentation, database administration, social engineering for security audits, and cyber audit planning and operations. 
		.col.s3
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/matt.jpg")
				.card-content
					span.card-title.activator.grey-text.text-darken-4 
						| Matthew Longley
						i.material-icons.right learn more
				.card-reveal
					span.card-title.grey-text.text-darken-4 
						| Matthew Longley
						i.material-icons.right close
						p
							| Matthew is a Virginia native who now lives and goes to school in Memphis. He is currently one semester from graduating with a Bachelor's degree in Computer Science from the University of Memphis and works at the University of Tennessee Health Sciences Center as a project engineer. His specialties are penetration testing, system exploitation, hardware repair, software development, and consultancy for networking/software/hardware needs. 
		.col.s3
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/adrienne.jpg")
				.card-content
					span.card-title.activator.grey-text.text-darken-4 
						| Adrienne Wood
						i.material-icons.right learn more
				.card-reveal
					span.card-title.grey-text.text-darken-4 
						| Adrienne Wood
						i.material-icons.right close
						p
							| "Addy" is our talented graphic design artist who recently graduated from the University of Tennessee with a Bachelor's in Fine Arts in Graphic Design. She currently works with Savant Learning Systems as an contracted Elearning designer and is the artist responsible for all of the images you see on this website. Her specialties are creative thinking, design, website theme planning and creation, and consultancy for artistic projects. 
		.col.s3
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/ethan.jpg")
				.card-content
					span.card-title.activator.grey-text.text-darken-4 
						| Ethan Willis
						i.material-icons.right learn more
				.card-reveal
					span.card-title.grey-text.text-darken-4 
						| Ethan Willis
						i.material-icons.right close
						p
							| Ethan is a Memphis Native holding positions with the University of Tennessee as a Senior Biomedical Informaticist, and Telephony technology startup Dancecard LLC as their Lead Software Architect. He graduated in 2013 with a Bachelor's in Computer Science from the University of Memphis and is currently completing his Master's in Bioinformatics. Ethan is also doing research in both clinical research informatics and applications of natural language processing to biomedical literature data mining. His strengths are software architecture, being well-versed in working in HIPAA compliant environments, defending against cyber attacks, and damage control after a cyber incident has already taken place.

template(name="contact")
	.row
		.col.s8.offset-s2
			h1 Contact Us With The Form Below!
	.row
		.col.s8.offset-s2
			+quickForm collection="Messages" id="insertMessageForm" type="method" meteormethod="send_email"

template(name="faq")
	h2 faq page

template(name="footer")
	footer.page-footer
		.container
			.row
				.col.16.s12
					h5.white-text
						| Mallard Cyber Solutions
					p.grey-text.text-lighten-4
						| The Midsouth's Premier Cyber Security Solutions Company.
				.col.14.offset-12.s12
					h5.white-text
						| Links
					ul
						li
							a.grey-text.text-lighten-3(href="/")
								| Home
						li
							a.grey-text.text-lighten-3(href="/services")
								| Services
						li
							a.grey-text.text-lighten-3(href="/about")
								| About
						li
							a.grey-text.text-lighten-3(href="/contact")
								| Contact
						li
							a.grey-text.text-lighten-3(href="/faq")
								| FAQ
		.footer-copyright
			.container
				© 2016 Mallard Cyber Solutions
		
